ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:99%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color:blue;
}

h1 {
  color:black; 
  text-align:left;
  text-decoration: underline;
  font-size: 50px;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 300px;
}

p {
  color: black;
  text-align:left;
  font-size: 28px;
  font-family: Apple Chancery, cursive;
  padding-left: 300px;
}

body {
	background:url(lastpage.jpg);
	background-color: white;
	background-repeat: no-repeat;  
}
